<a href="https://colab.research.google.com/github/BahaTaradeh/Ever/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

lab week 1

In [ ]:
# You will be working with some common libraries such as
import pandas as pd
import numpy as np

In [ ]:
import math
pi = math.pi
print(pi)

3.141592653589793

In [ ]:
df = pd.read_csv('/content/Auto.csv')

Quick view

In [ ]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

 Data size

In [ ]:
print(f'The size of df is {df.shape}')

The size of df is (397, 9)

In [ ]:
 df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin', 'name'],
      dtype='object')

In [ ]:
 type(df['mpg'])

pandas.core.series.Series

In [10]:
cars70 = df[df.year==70]
cars70.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [11]:
print(f'Number of cars in cars70 DataFrame is {cars70.shape[0]}')

Number of cars in cars70 DataFrame is 29